.enemy-side {
  display: flex;
  justify-content: center;

} 

.enemy-unit-container {
  margin: 0px 16px;
}

.my-side {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 17vw;
}

.enemy-slot {
  display: flex;
  flex-direction: column;
}

.my-staging {
  display: flex;
  flex-direction: row;
}

.enemy-backs {
  width: 80px;
  height: 60px;
}

.staging-backs {
  width: 70px;
  height: 50px;
}

.card {
  width: 116px;
  height: 140px;
  margin: 4px 0px;
}

.enemy-cards {
  display: flex;
  justify-content: center;
}

.my-card {
  display: flex;
  justify-content: center;
}

.felt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  border: 3px solid black;
  min-height: 100%;
  padding-top: 25px;
  margin-bottom: 25px;
  
}

.ifield {
  display: flex;
  flex-direction: column;
}



.ifield div {
  display: flex;
  width: 16%
}

.ifield button {
  width: 16%;
}

.ifield p {
  width: 16%;
  text-align: center;
}

.name-and-count {
  display: flex;
  justify-content: space-between;
}

.felt-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  padding-top: 25px;
}

.action-select {
  display: flex;
  flex-direction: column;
}


.action-partition {
  min-width: 6%;
}

.crown  {
  height: 20px;
  width: 20px;
}

.sword  {
  height: 20px;
  width: 20px;
}

.enemy-info-at-war {
  padding-bottom: 8%;
}

.instructions {
  text-align: center;
  font-size: 32px;
}

.war-statement {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
  font-size: 32px;
}

p {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  border-bottom: 4px solid black;
  padding-top: 24px;
}

.header-box {
  display: flex;
}

.title-box {
  display: flex;
  flex-direction: column-reverse;
  font-family: 'Jua', sans-serif;
  font-size: 32px;
}

.logo {
  height: 148px
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-box {
  border: 1px solid black;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column-reverse;
}

.chat-box p {
  padding: 0px;
  margin: 0px;
}

.side-container {
  display: flex;
}


.felt-partition {
  min-height: 60px;
  text-align: center;
  position: relative;
}
/* .animation-card {
  animation-duration: 1.2s;
  animation-name: blink;
  animation-iteration-count: infinite;
}

@keyframes blink {
  from {
    opacity:0;
  }

  to {
    opacity:1;
  }
} */