.enemy-side {
  display: flex;
  justify-content: center;

} 

.enemy-unit-container {
  margin: 0px 16px;
}

.my-side {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.enemy-slot {
  display: flex;
  flex-direction: column;
}

.my-staging {
  display: flex;
  flex-direction: row;
}

.enemy-backs {
  width: 80px;
  height: 60px;
}

.staging-backs {
  width: 70px;
  height: 50px;
}

.card {
  width: 116px;
  height: 140px;
  margin: 4px 0px;
}

.enemy-cards {
  display: flex;
  justify-content: center;
}

.my-card {
  display: flex;
  justify-content: center;
}

.felt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.felt-container {
  display: flex;
  justify-content: center;
  border: 3px solid black;
  width: 90%;
  margin-top: 25px;
  padding: 100px 0px;
  padding-bottom: 150px;
}

.action-select {
  display: flex;
  flex-direction: column;
}

.felt-partition {
  min-height: 10%;
  text-align: center;
  position: relative;
}

.action-partition {
  min-width: 6%;
}

.crown  {
  height: 20px;
  width: 20px;
}

.sword  {
  height: 20px;
  width: 20px;
}

.enemy-info-at-war {
  padding-bottom: 8%;
}

.instructions {
  text-align: center;
  font-size: 32px;
}

.war-statement {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
  font-size: 32px;
}

p {
  margin: 0;
  padding: 0;
}

header {
  border-bottom: 4px solid black;
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .animation-card {
  animation-duration: 1.2s;
  animation-name: blink;
  animation-iteration-count: infinite;
}

@keyframes blink {
  from {
    opacity:0;
  }

  to {
    opacity:1;
  }
} */